*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-color: black;
    height: 55px;
    display: block;
}

.font{
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.fonts{
    font-size: 25px;
    cursor: pointer;
    color: black;
  
}

.text{
    color: gray;
}


.mid{
    transform: translateY(-20px);
}
.mids{
    transform: translateY(-40px);
    cursor: pointer;
}



.hovered:hover{
    color: orange;
}


.color{
    color: white;
}

.span{
    color: orange;
}

.nav-text{
    transform: translateY(-45px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.drop{
    transform: translateY(-40px);
    color: white;
 
    
}

.margin-right{
    margin-right: 30rem;
}
  


.input{
    padding: 0 20px;
    width: 25rem;
    border-radius: 20px;
}


.head-2{
    display: block;
}
 
#shareButton{
    display: none;
}

.bg-2{
    display: none;
}


/* Navbar Responsive Area Started */




@media (max-width: 975px) {
    #shareButton{
        display: block;
    }
    .head-2{
        display: none;
    }
}



@media (max-width : 770px){
    .log{
        display: none;
    }
}



@media (max-width : 766px){
   .bg{
    display: none;
   }
   .bg-2{
    display: block;
    transform: translateY(-40px);

   }
}